* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0f0c29; 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
    color: #fff;
}


.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://freepngimg.com/thumb/cloud/7-cloud-png-image.png'); 
    background-size: cover;
    opacity: 0.3; 
    animation: moveClouds 60s linear infinite;
}

@keyframes moveClouds {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 0; }
}

.card {
    width: 90%;
    max-width: 470px;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); 
}


.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #262626;
    color: #fff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #444;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.2s;
}

.search button:hover {
    background: #fff;
}
.search button:hover i {
    color: #000;
}

.search button i {
    font-size: 20px;
    color: #fff;
}


.weather-icon {
    width: 170px;
    margin-top: 30px;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.2)); 
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col i {
    font-size: 35px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}